<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Om mig - Anakin Skywalker</title>
</head>
<body style="background-color: black; color: white;">
<h1>Om mig</h1>
<img src="/anacunt.jpg" alt="Mig da jeg var en ung padawan" width="800" height="500" />
<p>
    Mit navn er Anakin Skywalker, men jeg er måske bedre kendt som Darth Vader. Jeg blev født som slave på den øde planet Tatooine, men min skæbne skulle vise sig at være langt større, end jeg kunne forestille mig. Jeg blev opdaget af Jedi-ridderen Qui-Gon Jinn, og det blev hurtigt klart, at jeg var stærk med Kraften – noget, der kunne ændre galaksens skæbne.
    Som ung Jedi-ridder voksede jeg hurtigt i magt og færdigheder, men mine indre dæmoner og frygt for at miste de, jeg elskede, førte mig ned ad en mørk vej. Jeg blev en central figur i de dramatiske konflikter under Klonkrigene, og til sidst faldt jeg under Sith Lord Darth Sidious' indflydelse, som ledte mig til at blive Darth Vader – en skikkelse, der er frygtet og beundret overalt i galaksen.
    Min rejse har været præget af både tapperhed og tragedie, og jeg har kæmpet for både det gode og det onde. Jeg har kæmpet for frihed, men også kæmpet mod de dæmoner, der har forfulgt mig. Jeg har været Jedi, jeg har været Sith, og jeg har været et symbol på både håb og frygt.
    Men selv i mørket er der plads til forsoning, og mit hjerte bærer på en dyb længsel efter at finde fred og tilgivelse.</p>

<a href="/">
    <button>Tilbage</button>
</a>

</body>
</html>
